#controls {
    margin-bottom: 10px;
}

#timeline-container {
    width: 100%;
    margin-bottom: 10px;
}

#timeline {
    width: 100%;
}

#map {
    height: 600px;
    width: 100%;
}

#power-filter {
    margin-top: 10px;
}
